@font-face{
    font-family: "Sansation_Bold";
    src: url("../font/sansation/Sansation_Bold.ttf");

}
@font-face{
    font-family: "Sansation_Bold_Italic";
    src: url("../font/sansation/Sansation_Bold_Italic.ttf");

}
@font-face{
    font-family: "Sansation_Italic";
    src: url("../font/sansation/Sansation_Italic.ttf");

}
@font-face{
    font-family: "Montserrat-Bold";
    src: url("../font/Montserrat/Montserrat-Bold.ttf");

}
@font-face{
    font-family: "Sansation_Regular";
    src: url("../font/sansation/Sansation_Regular.ttf");

}
.col-lg-4 > div{
    margin-bottom:50px;
}
.title{
    color:#00bff3;
    font-size:20px;
    font-family: "Montserrat-Bold"
}
.media{
    border-bottom:1px dotted #979797;
    padding:20px 0;
}
.media:last-child{
    border-bottom:0
}
.media img{
    width:60px;
    border-radius: 4px;
    height: 60px;
    object-fit: cover
}
.media-body h5{
    color:#444444;
    font-family: "Sansation_Bold";
    font-size: 15px;
}
.media-body span{
    color:#0085d3;
    font-size:13px;
    font-family: "Sansation_Regular"
}
ul.flex-column a{
    color:#444444;
    font-family: "Sansation_Regular";
    font-size: 13px;
}
ul.flex-column a i{
    padding-right:15px;
    font-size: 9px;
}
.nav-link .line{
    background: #e8e8e8;
    width:100%;
    margin:9px;
    height:2px;
    flex:5
}

#Blogs .col-md-6{
    margin-bottom: 70px;
}
.postedBy h4{
    font-family: "Sansation_Regular";
    font-size: 14px;
    color:#888888
}
.postedBy span{
    color: #00bff3;
    font-family: "Sansation_Regular";
}
span.number{
    font-size: 12px;
}
.card-title{
    color:#444444;
    font-size: 17px;
    font-family: "Sansation_Bold";
    text-transform: uppercase
}
.card{
    border:0
}
.card-body{
    padding:0;
    padding-top:30px;
}
.card-text{
    color:#666666;
    font-family: "Sansation_Regular";
    font-size: 14px;
}
.card-img-top{
    border-radius: 4px;
    height:220px;
    object-fit: cover
}
.card-top{
    position: relative;
}
.card-top span{
    background:#00bff3;
    padding:10px 15px;
    font-family: "Sansation_Regular";
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    bottom:20px;
    right:20px;
    border-radius: 2px;
}
.card-top:after{
    content:'';
    position: absolute;
    bottom:0;
    right:50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #ffffff transparent;

}
.blog-social{
    width:97%;
}
.singleBlog .social a{
    color:#444444;
    font-size: 12px;
    padding:10px;
}
.singleBlog .d-flex .icon{
    background:#00bff3;
    color:white;
    width:50px;
    height:50px;
    border-radius: 100%;
    position: absolute;
    left:-33px;
    top:-5px;
}
.text{
    font-size: 13px;
    color:#444;
    font-family: "Sansation_Italic";

}
.singleBlog .card-top:after{
    display: none
}


.singleBlog .card-top img{
    height: 400px;
    object-fit: cover
}
.singleBlog span.badge-primary{
    background: #0085d3
}

.singleBlog .card-title{
    font-family: "Montserrat-Bold";
    font-size: 22px;
}
.singleBlog .number{
    padding-left: 20px;
}
.singleBlog .card-text{
    text-align: justify;
    line-height: 2;
    font-size: 13px;
}

.title-inside{
    font-size: 20px;
    color:#3d3d3d;
    font-family: "Sansation_Regular";
}
.note{
    background:#00bff3;
    padding:40px 20px;
    text-align: center;
    margin-top:100px;
    margin-bottom:60px;
    border-radius: 5px;
    position: relative;
}
.note p{
    color:white;
    font-family: "Sansation_Bold_Italic";
    font-size: 16px;
    width: 75%;
    padding:20px 0;
    margin: auto;
}
.note .top{
    color:white;
    
    border:2px dashed white;
    width:90px;
    height: 90px;
    text-align: center;
    font-size:20px;
    border-radius: 100%;
    margin: -86px auto 0;
}
.top i{
    padding: 20px 0 0;
    background: #00bff3;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: block;
    margin: 14px auto
}


.contactForm{
    width:100%;
    margin-top:111px

}
.singleBlog .contactForm form{
    margin-top:25px;
    margin-bottom:40px;

}
.contactForm textarea{
    width:100%;
    resize:none;
}
.singleBlog .sendComment{
    color:white;
    background-color: #0085d3;
    border:0;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Sansation_Bold";
    padding:15px 35px !important;
}
.contactForm .form-control {
    background-color: #fbfbfb;
    border:0;
    padding:15px;
}
.contactForm .form-control{
    padding-left:30px;
    font-size:12px;
    color:#c5c5c5;
    font-family: "Sansation_Regular";


}
.contactForm .form-control .contactformControl {
    width:33%;

}

@media(max-width:575.5px){
    .blog-social{
        width:92%;
    }
}
@media(max-width:400px){
    .singleBlog .social a{
        padding:2px;
    }
    .text{
        font-size: 10px;
    }
}